<div class="friend-profile">
  <div class="friend-info full">
    <img src="http://www.fillmurray.com/200/200">
    <div>
      <p>{{model.fullName}}</p>
      <p>{{model.email}}</p>
      <p>{{model.twitter}}</p>
      <ul class="friend-profile-links">
        <li>{{link-to 'Edit info' 'friends.edit' model}}</li>
        <li>{{link-to 'Lend article' 'articles.new'}}</li>
        <li><a href="#" {{action "delete" model}}>Delete</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="loans-container">
  {{outlet}}
</div>
